# simple if

In [2]:
#  wap find square of a number when given number is even
n = int(input("enter N : "))
if(n%2 == 0):
    sqr = n ** 2
    print(n," square is ",sqr)

enter N : 78
78  square is  6084

# if else

In [5]:
#  wap find square of a number when given number is even other wise 
# find squareroot of a number 
n = int(input("enter N : "))
if(n%2 == 0):
    sqr = n ** 2
    print(n," square is ",sqr)
else:
    sqrt = n ** 0.5
    print(n," sqaure root is ",sqrt)

enter N : 88
88  square is  7744

# nested if

In [6]:
# find biggest number from 3 numbers 
a = int(input("enter a : "))
b = int(input("enter b : "))
c = int(input("enter c : "))
if(a > b):
    big =a
    if(big < c):
        big = c
else:
    big = b
    if(big < c):
        big =c
print("big = ",big)

enter a : 10
enter b : 45
enter c : 20
big =  45

# elif ladder

In [ ]:
'''
if(cond1):
    task1
elif(cond2):
    task2
elif(cond3):
    task3
else:
    taskd
'''

In [10]:
# grading system for student mark
print("each subject max mark is 100 ")
s1 = int(input("enter s1 "))
s2 = int(input("enter s2 "))
s3 = int(input("enter s3 "))
s4 = int(input("enter s4 "))
s5 = int(input("enter s5 "))
s6 = int(input("enter s6 "))
total = s1+s2+s3+s4+s5+s6
avg =float(total)/ 600
per = avg*100
if(per >= 70):
    print("A Grade with distinction")
elif( per >= 60):
    print(" A  Grade")
elif( per >= 50):
    print("B Grade")
elif( per >= 40):
    print("C Grade")
else:
    print("Failed")

each subject max mark is 100
enter s1 89
enter s2 99
enter s3 100
enter s4 89
enter s5 95
enter s6 96
A Grade with distinction

# while with else

In [3]:
# wap print your details n times 
n = int(input("enter N : "))
i =1
while(i <= n):
    print("************************")
    print("Name : anjan kumar")
    print("Area : Artificial Intelligence")
    print("Salary : 20 Lac Rs/-  per annam")
    i= i+1

enter N : 5
************************
Name : anjan kumar
Area : Artificial Intelligence
Salary : 20 Lac Rs/-  per annam
************************
Name : anjan kumar
Area : Artificial Intelligence
Salary : 20 Lac Rs/-  per annam
************************
Name : anjan kumar
Area : Artificial Intelligence
Salary : 20 Lac Rs/-  per annam
************************
Name : anjan kumar
Area : Artificial Intelligence
Salary : 20 Lac Rs/-  per annam
************************
Name : anjan kumar
Area : Artificial Intelligence
Salary : 20 Lac Rs/-  per annam

In [4]:
# wap print your details n times 
n = int(input("enter N : "))
i =1
while(i <= n):
    print("************************")
    print("Name : anjan kumar")
    print("Area : Artificial Intelligence")
    print("Salary : 20 Lac Rs/-  per annam")
    i= i+1
else:
    print("************************")
    print("age : 27 years ")
    print("mail : xyz@gmail.com")

enter N : 8
************************
Name : anjan kumar
Area : Artificial Intelligence
Salary : 20 Lac Rs/-  per annam
************************
Name : anjan kumar
Area : Artificial Intelligence
Salary : 20 Lac Rs/-  per annam
************************
Name : anjan kumar
Area : Artificial Intelligence
Salary : 20 Lac Rs/-  per annam
************************
Name : anjan kumar
Area : Artificial Intelligence
Salary : 20 Lac Rs/-  per annam
************************
Name : anjan kumar
Area : Artificial Intelligence
Salary : 20 Lac Rs/-  per annam
************************
Name : anjan kumar
Area : Artificial Intelligence
Salary : 20 Lac Rs/-  per annam
************************
Name : anjan kumar
Area : Artificial Intelligence
Salary : 20 Lac Rs/-  per annam
************************
Name : anjan kumar
Area : Artificial Intelligence
Salary : 20 Lac Rs/-  per annam
************************
age : 27 years
mail : xyz@gmail.com

In [8]:
# factorial of any number
# -ve ---> not possible 
# 0 or 1 ----> 1
# n! ----> n*n-1 * n-2 * n-3 --------2*1
n = int(input("enter n value : "))
if(n <0 ):
    print("Factorial is not possible ")
elif(n == 0 or n ==1):
    print("fact of ",n," is 1 ")
else:
    fact =1
    t  = n
    while(t>=1):
        fact = fact*t
        t=t-1
    else:
        print("fact of ",n," is ",fact)

enter n value : -8
Factorial is not possible

In [9]:
# wap generate  n no of fibonic series element
# 5 ---> 0  1  1  2  3
# 7 ---> 0  1  1  2  3  5  8
n = int(input("enter n : "))
a =0
b =1
print("fibonic series is ")
if(n> 0):
    while(n):
        print(a ,end = "  ")
        c= a+b
        a=b
        b=c
        n=n-1
else:
    print("Wrong input you entered ")

enter n : 8
fibonic series is
0  1  1  2  3  5  8  13

In [ ]:
# wap find sum of n natural numbers

In [ ]:
# wap find no of factors any number

In [ ]:
# wap sum of factor of any number

In [ ]:
# wap find given number is prime number or not

In [ ]:
# wap find no of digits in  a number 
# 1256 ---> 4

In [ ]:
# wap sum of digits of any number
# 145 ---> 10

In [ ]:
# wap find reverse of number 
# 348 ---> 843

In [ ]:
# wap given number is palidrom or not
# 121 ---> 121 ---> palidrom

# for loop

In [2]:
#wap print your name 10 times 
for i in range(10):
    print("name = anjan")

name = anjan
name = anjan
name = anjan
name = anjan
name = anjan
name = anjan
name = anjan
name = anjan
name = anjan
name = anjan

In [4]:
# 10 times and else 

for var in range(10):
    print("name = anjna")
else:
    print ("else block")

name = anjna
name = anjna
name = anjna
name = anjna
name = anjna
name = anjna
name = anjna
name = anjna
name = anjna
name = anjna
else block

In [ ]:
# wap find multiplication table