# conditional statments
'''
1. simple if

2. if else 

3. elif ladder

4. nested if

'''

In [3]:
# wap print your details when your age more than 18
name = input("enter name of you :")
age  = int(input("enter age : "))
phone= input("enter phone number : ")
if(age  > 18):
    print("name :",name)
    print("age :",age)
    print("phone: ",phone)
print("if over")

enter name of you :anjan
enter age : 27
enter phone number : 9640987960
name : anjan
age : 27
phone:  9640987960
if over

In [ ]:
# wap wap find the area of square when side is even

In [ ]:
# wap find the area of triangle when the triangle is equilatral

In [ ]:
#wap find the area of reactagle when the square of the perimter is even

In [2]:
# if and else 
# wap application drop for voter id 
name = input("enter the name of applicant : ")
age =  int(input("enter age of you : "))
if(age >= 18):
    print("you are eligible for voter id application drop")
    DOB = input("enter data of birth : ")
    addr = input("enter addrees : ")
else :
    print("Please come when you have 18 years : ")
print(" thanks for visiting ")

enter the name of applicant : anjan
enter age of you : 17
Please come when you have 18 years :
 thanks visiting

In [12]:
# wap find the salary based on employee exp :
name = input("enter employeee name : ")
phone= input("enter phoen number   : ")
mail = input("enter mail id        : ")
basic =300000
exp = int(input("how many years of exp : "))
if(exp == 0):
    print("Your the fresher ")
    print("The basic slary : 300000 PA")
elif(exp == 1):
    print("For 1 year exp :  ")
    print("The basic slary : ",300000*120/100)
elif(exp == 2):
    print("For 2 year exp :  ")
    print("The basic slary : ",(300000*120/100)*120/100)
else:
    print("your full time employee : ")
    print(" the salary is : 12L PA")

enter employeee name : anjan
enter phoen number   : 86e7
enter mail id        : djdnjsdj
how many years of exp : 2
For 1 year exp :
The basic slary :  432000.0

In [1]:
# Nested if 
'''
Any conditional statement inside we have another another conditional 
statements
'''

# wap find the biggest number from 3 numbers 
a = int(input("enter a : "))
b = int(input("enter b : "))
c = int(input("enter c : "))
if(a > b ):
    big = a
    if(a < c):
        big = c
else:
    big = b
    if(b < c):
        big = c
print("big = ",big)

enter a : 45
enter b : 89
enter c : 78
big =  89

In [ ]:
# wap find the smallest number from 3 number

# Looping statements :

---> We can execute a task multiple times

1. while 

2. for 

#  control keywords

1. continue 

2. break

3. pass

# Nested Loops

In [2]:
# while loop
# wap find the sum of 1st  N nantural numbers( 1+ 2+ 3+4 +-----N )
N = int(input("enter N value : "))
# initialization
i =1
sum = 0

while(i <= N):
    sum = sum +i # task
    i = i+1  # update condition
else:
    print("sum of 1st ",N," natural numbers are : ",sum)

enter N value : 10
sum of 1st  10  natural numbers are :  55

In [3]:
# while loop
# wap find the mul of 1st  N nantural numbers( 1* 2* 3*4 *-----N )
N = int(input("enter N value : "))
# initialization
i =1
mul = 1

while(i <= N):
    mul = mul *i # task
    i = i+1  # update condition
else:
    print("mul of 1st ",N," natural numbers are : ",mul)

enter N value : 10
mul of 1st  10  natural numbers are :  3628800

In [20]:
# while loop
# factorial of a number
N = int(input("enter N value : "))
# initialization
i =1
mul = 1
if(N >= 0):
    while(i <= N):
        mul = mul *i # task
        i = i+1  # update condition
    else:
        print("mul of 1st ",N," natural numbers are : ",mul)
else:
    print("please enter positive values ")

enter N value : 78
mul of 1st  78  natural numbers are :  11324281178206297831457521158732046228731749579488251990048962825668835325234200766245086213177344000000000000000000

In [1]:
# for loop
# wap find the sum integers in a list or tuple or set or dict
seq = [12,3,7.45,78,34]
sum =0
for var in seq :
    if(isinstance(var,int)):
        sum =sum+var
else:
    print("sum = ",sum)

sum =  127

In [7]:
# wap generate 1st 10 fibonic series elements
# 0   1    1    2    3    5   8   13   21    34
N = int(input("enter no of fibonic elements : "))
a = 0
b = 1
for i in range(N):
    print(a,end='   ')
    c =a+b ; a = b ; b = c
else:
    print("\nTask Over")

enter no of fibonic elements : 10
0   1   1   2   3   5   8   13   21   34
Task Over

In [8]:
# continue keyword
'''
if you want to skip a specific iteration we can skip and continue 
the next iteration
'''
# wap generate 1st 10 fibonic series elements
# 0   1    1    2    3       8   13   21    34
N = int(input("enter no of fibonic elements : "))
a = 0
b = 1
for i in range(N):
    c =a+b ; a = b ; b = c
    if(a == 5):
        continue
    print(a,end='   ')

else:
    print("\nTask Over")

enter no of fibonic elements : 10
1   1   2   3   8   13   21   34   55
Task Over

In [10]:
# break keyword
'''
It can be used for to terminate the loops
'''
# wap generate 1st 10 fibonic series elements
# 0   1    1    2    3   5    
N = int(input("enter no of fibonic elements : "))
a = 0
b = 1
for i in range(N):
    print(a,end='   ')
    c =a+b ; a = b ; b = c
    if(a == 5):
        break
else:
    print("\nTask Over")

enter no of fibonic elements : 10
0   1   1   2   3

In [13]:
# pass keyword 
'''
To creates the dummy loops
'''
while(0):
    pass

In [15]:
# neasted loops
#A loop with in a loop
# while--->  while, for
# for ----> for , while

# wap find given number is prime or not prime number
N = int(input("enter target number : "))
for ele in range(2,N):
    if(N % ele == 0):
        print("its not prime ")
        break
else:
    print("Its prime number ")

enter target number : 7
Its prime number

In [17]:
# wap find the prime numbers in between N1 to N2 ( 10, 100)
N1 = int(input("enter N1 : "))
N2 = int(input("enter N2 : "))
for num in range(N1, N2+1):
    for ele in range(2, num):
        if(num % ele == 0):
            break
    else:
        print("num = ",num)
else:
    print("task Over")

enter N1 : 10
enter N2 : 20
num =  11
num =  13
num =  17
num =  19
task Over

In [7]:
# wap fin the palidrom numbers in between 10 to 1000
# 121 ---> 121
N1 = int(input("enter N1 : "))
N2 = int(input("enter N2 : "))
for num in range(N1,N2+1):
    temp = num
    rev = 0
    while(temp !=  0):
        dig = temp % 10
        rev = rev*10 + dig
        temp = temp // 10
    if(rev == num):
        print(num," is palidram ")

enter N1 : 10
enter N2 : 100
11  is palidram
22  is palidram
33  is palidram
44  is palidram
55  is palidram
66  is palidram
77  is palidram
88  is palidram
99  is palidram

In [8]:
# wap generate the following pattrn
'''
*
*  *
*  *   *
*  *   *   *
'''
row= int(input("enter the no of rows : "))
for r in range(1, row+1):
    for c in range(r):
        print("*",end="    ")
    print()
    
# wap ablove logic using while and while

enter the no of rows : 5
*
*    *
*    *    *
*    *    *    *
*    *    *    *    *

In [ ]:
#wap the following pattrns
'''
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
'''

In [ ]:
# wap the following pattrn
'''
1
2 2
3 3 3
4 4 4 4 
5 5 5 5 5

'''

In [ ]:
# wap the following pattrn
'''
2
3 4
4 5 6
5 6 7 8
6 7 8 9 10
'''

In [ ]:
# wap the following pattrn
'''
1
0  1
1  0  1
0  1  0  1
1  0  1  0  1

'''

In [ ]:
# wap the following pattrn
'''
*  *   *   *  *
*  *   *   *
*  *   *   
*  * 
*

'''

In [ ]:
# wap the following pattrn
'''
1  1  1   1  1
2  2  2  2
3  3  3
4  4
5

'''

In [ ]:
# wap the following pattrn
'''
            *
        *   *   *
    *   *   *   *   *
*   *   *   *   *   *   *

'''

In [ ]:
# wap the floowing pattrn
'''
*   *   *   *   *   *   *
    *   *   *   *   *
        *   *   *
            *

'''

In [ ]:
# wap the following pattrn
'''
            *
        *   *   *
    *   *   *   *   *
*   *   *   *   *   *   *
    *   *   *   *   *
        *   *   *
            *
'''

In [ ]:
# wap for pascal triable
'''
                    1
                1        1
            1       2        1

        1       3        3         1    
    1       4       6        4           1
    
1      5       10       10         5           1


'''