In [2]:
# simple if 
# wap find area of triangle when all sides are equal

s1=int(input("enter s1 : "))
s2=int(input("enter s2 : "))
s3=int(input("enter s3 : "))

if(s1 == s2 and s2 == s3):
    h = ((s1**2) -(s2/2)**2)**0.5
    area =0.5*s1*h
    print("area = ",area, "sq .m")

enter s1 : 10
enter s2 : 11
enter s3 : 10

In [1]:
# wap print your full details when  your age is even

name= input("enter your name : ")
age = int(input("enter age of you : "))
ph  = input("'enter your phone number : '")
if(age % 2 == 0):
    print("name : ",name)
    print("age  : ",age)
    print("phone: ",ph)
print("if is over ")

enter your name : anjan
enter age of you : 28
'enter your phone number : '9640 987 960
name :  anjan
age  :  28
phone:  9640 987 960
if is over

In [3]:
# wap print your full details when  your age is even

name= input("enter your name : ")
age = int(input("enter age of you : "))
ph  = input("'enter your phone number : '")
if(age % 2 == 0):
    print("name : ",name)
    print("age  : ",age)
    print("phone: ",ph)
print("if is over ")

enter your name : anjan
enter age of you : 27
'enter your phone number : '9640 987 960
if is over

In [ ]:
# wap find sum of areas of sqaure and rectagle when the side of sqaure is same 
# as any one side of the rectangle

In [ ]:
# wap find sum of areas of sqaure and rectagle when the side of sqaure is same 
# as any one side of the rectangle other wise sum of perimter

In [ ]:
'''
wap find sum of cubes of 1st natural number when the diffrence between 
sum of square of 1st natural and sum of 1st n natural numbers is odd
'''

In [ ]:
'''
wap find sum of cubes of 1st natural number when the diffrence between 
sum of square of 1st natural and sum of 1st n natural numbers is odd other 
wise  find sum of square of 1st n natural numbers 
'''

In [5]:
#  if  and else
# wap find area of triangle when all sides are equal other wise find perimter

s1=int(input("enter s1 : "))
s2=int(input("enter s2 : "))
s3=int(input("enter s3 : "))

if(s1 == s2 and s2 == s3):
    h = ((s1**2) -(s2/2)**2)**0.5
    area =0.5*s1*h
    print("area = ",area, "sq .m")
else:
    peri = s1+s2+s3
    print("perimeter = ",peri," meter")

enter s1 : 10
enter s2 : 11
enter s3 : 10
perimeter =  31  meter

In [8]:
'''
wap take your details when your age more than 18 other yout father details 
'''
name= input("enter your name : ")
age = int(input("enter age of you : "))
ph  = input("'enter your phone number : '")
f_name = input("enter yout dad name : ")
f_age  = input("enter age of your dad : ")
f_ph   = input("enter phone number of your father : ")
if(age >= 18):
    print("name : ",name)
    print("age  : ",age)
    print("phone: ",ph)
else:
    print("father name : ",f_name)
    print("father age  : ",f_age)
    print("father phone: ",f_ph)
print("if is over ")

enter your name : anjan
enter age of you : 27
'enter your phone number : '9640 987960
enter yout dad name : klddfkfdd
enter age of your dad : lknkd
enter phone number of your father : djndnfjkd
name :  anjan
age  :  27
phone:  9640 987960
if is over

In [3]:
# wap find the grading system based on student marks 

s1 = int(input("enter s1 marks : "))
s2 = int(input("enter s2 marks : "))
s3 = int(input("enter s3 marks : "))
s4 = int(input("enter s4 marks : "))
s5 = int(input("enter s5 marks : "))
g_m = s1+s2+s3+s4+s5
avg = g_m/ 500
per =avg*100
if(per > 70):
    print("A  Grade with Distinction")
elif(per > 60):
    print("A Grade")
elif(per > 50):
    print("B Grade")
elif(per > 40):
    print("C Grade")
else:
    print("Better Luck Next Time !")

enter s1 marks : 89
enter s2 marks : 56
enter s3 marks : 45
enter s4 marks : 60
enter s5 marks : 45
B Grade

In [6]:
# Nested if
'''
Any conditional statements haing one more conditional statemeent

'''
# wap find the smallest number from 3 number 

a = int(input("enter a : "))
b = int(input("enter b : "))
c = int(input("enter c : "))
if(a < b):
    small = a
    if(a > c):
        small =c
else:
    small =b
    if(b > c):
        small = c
print("small = ",small)

enter a : 56
enter b : 10
enter c : 56
small =  10

In [ ]:
# wap find biggest number from 3 numbers

In [ ]:
# wap find the given year is leap year or not

In [ ]:
# while
'''
while(cond):
    task
    ----
    ----
else:
    task
    ---
    ----

'''

In [1]:
# wap find the sum of 1st n natural number with out using formula
N = int(input("enter N values : "))
sum =0
i =1
while(i <= N):
    sum = sum +i
    i = i+1
else:
    print("sum of 1st %d natural number is %d "%(N,sum))

enter N values : 100
sum of 1st 100 natural number is 5050

In [ ]:
# wap find the sum of squares of 1st N Naatural numbers

In [ ]:
# wap find the sum of cubes of 1st N Naatural numbers

In [7]:
# wap print all elements from any sequence

seq = {12, 34, 67,90}
i= 0
for var in seq :
    print("%d element is : %d"%(i,var))
    i = i +1
else:
    print("i am else optional block")
    print("i cam exceute when no more updataton")
# execute 5 time for each time new seq datatype

0 element is : 34
1 element is : 67
2 element is : 12
3 element is : 90
i am else optional block
i cam exceute when no more updataton

In [9]:
# wap find the len of any seq datatype
seq = "soc softech"
le=0
for var in seq :
    le = le +1
else:
    print("len of ",seq," is ",le)
#print(len(seq))

len of  soc softech  is  11
11

In [12]:
# wap find the sum of 1st N natural numbers 
N = int(input("enter N Value  : "))
sum =0
for var in range(1,N+1):
    sum = sum +var
else:
    print("sum of 1st %d Natural number is %d"%(N,sum))

enter N Value  : 100
sum of 1st 100 Natural number is 5050

In [15]:
# wap find the sum of 1st N natural numbers 
N = int(input("enter N Value  : "))
seq =range(1,N+1)
sum =0
print("seq : ",seq)
for var in seq:
    sum = sum +var
else:
    print("sum of 1st %d Natural number is %d"%(N,sum))

enter N Value  : 10
seq :  range(1, 11)
sum of 1st 10 Natural number is 55

In [16]:
# wap print multiplication table
'''
input 5

5 * 1 = 5
5 * 2 = 10
---
---
5 * 10 = 50

'''

N = int(input("enter N Value  : "))
seq =range(1,11)

for var in seq:
    print("%d * %d = %d"%(N,var,N*var))

enter N Value  : 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
# wap find number of digits in a number
# 3489   ---> 4

In [ ]:
# wap find sum of the digits in a number
# 3456  ---->  18

In [ ]:
# wap find reverse of a number of a number 
# 236  ---> 632

In [ ]:
# wap given number is palindrom or not