# tuple datatype

---> It is same like list data type 

---> tuple it can enclosed in between  (  )

In [1]:
# empty tuple data type
var = ()
print("data in var : ",var)
print(type(var))
print(id(var))
print(var.__sizeof__())

data in var :  ()
<class 'tuple'>
152196677704
24

In [2]:
# hemo tuple data type
var = (12,34,90,12,89)
print("data in var : ",var)
print(type(var))
print(id(var))
print(var.__sizeof__())

data in var :  (12, 34, 90, 12, 89)
<class 'tuple'>
152282101456
64

In [3]:
# hetro tuple data type
var = (12 , 34.56 , True , 3+4j)
print("data in var : ",var)
print(type(var))
print(id(var))
print(var.__sizeof__())

data in var :  (12, 34.56, True, (3+4j))
<class 'tuple'>
152282366584
56

In [4]:
# nested tuple data type
var = ('soc' , [1,2,3],(1,23),{2,3,4},{12:"soc"})
print("data in var : ",var)
print(type(var))
print(id(var))
print(var.__sizeof__())

data in var :  ('soc', [1, 2, 3], (1, 23), {2, 3, 4}, {12: 'soc'})
<class 'tuple'>
152281332288
64

# access the tuple elements 

1. indexing (single tuple data elements )

    a. positive indexing ( 0  to len -1 )
    
    b. negative indexing ( -1 to -len 

2. slicing 

3. dicing

In [5]:
a = (12, 45, 34, 2 , 6,90,34)
print('****positive indexing ******')
print(a[0])  # 12
print(a[1])  # 45
print(a[2])  # 34
print(a[3])  # 2
print(a[4])  # 6
print(a[5])  # 90
print(a[6])  # 34
print("****Negative indexing*****")
print(a[-1])  # 34
print(a[-2])  # 90
print(a[-3])  # 6
print(a[-4])  # 2
print(a[-5])  # 34
print(a[-6])  # 45
print(a[-7])  # 12

****positive indexing ******
12
45
34
2
6
90
34
****Negative indexing*****
34
90
6
2
34
45
12

In [9]:
# tuple slicing  [ start :  stop]
a = (12, 45, 34, 2 , 6,90,34)
print(a[1:5])# (45,34,2,6)
print(a[:5])  # start ---> 0
print(a[1:])  # stop ---> len of tuple

(45, 34, 2, 6)
(12, 45, 34, 2, 6)
(45, 34, 2, 6, 90, 34)

In [13]:
# tuple dicing [ start :  stop : step]
a = (12, 45, 34, 2 , 6,90,34)
print(a[0:7:2]) # (12,34,6,34)
print(a[:7:2]) # start --> 0
print(a[0::2])  # stop --> len of tuple
print(a[0:7:])  # step ---> 1

(12, 34, 6, 34)
(12, 34, 6, 34)
(12, 34, 6, 34)
(12, 45, 34, 2, 6, 90, 34)

In [14]:
# nested indexing 
a = ("soc" , [1,2,3],(4,5,6))
print(a)
print(a[0]) # 'soc'
print(a[0][1]) # 'o'
print(a[1]) # [1,2,3]
print(a[1][1:3])  # [2,3]
print(a[2]) # (4,5,6)
print(a[2][0:3:2]) # (4,6)

('soc', [1, 2, 3], (4, 5, 6))
soc
o
[1, 2, 3]
[2, 3]
(4, 5, 6)
(4, 6)

In [16]:
# modify the tuple existing daata
'''
Tuple is a immutable datatype we can't modify existing daata

'''
a = (12, 45,90)
print(a[1])
a[1] = 23
print(a)

45

TypeError: 'tuple' object does not support item assignment

In [17]:
a = (12, 45, 34, 2 , 6,90,34)
print("len = ",len(a))
print("max = ",max(a))
print("min = ",min(a))
print("sum = ",sum(a))

len =  7
max =  90
min =  2
sum =  223

In [18]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [22]:
# tuple class special methods can execute automatically 
a = (1,2,3)
b =(4,5,6)
print(a+b)        # (1,2,3,4,5,6)
print(a.__add__(b))
print(a* 3)  # (1,2,3,1,2,3,1,2,3)
print(a.__mul__(3))

print(a == b)  # False
print(a.__eq__(b))

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
False
False

In [23]:
a = (12,2,4,12,34,12)
a.count(12)

3

In [25]:
a = (12,2,4,12,34,12)
a.index(34)

4

In [28]:
a = (12,2,4,12,34,12)
a = list(a)
a.append(100)
a = tuple(a)
print(a)

(12, 2, 4, 12, 34, 12, 100)

In [ ]:
# str
# set 
# dict