In [2]:
import numpy as np
import pandas as pd
import sklearn as sk

In [4]:
#https://jorisvandenbossche.github.io/blog/2017/11/20/categorical-encoder/

#http://pbpython.com/categorical-encoding.html

titanic = pd.read_csv("https://raw.githubusercontent.com/amueller/scipy-2017-sklearn/master/notebooks/datasets/titanic3.csv")
titanic = titanic[['pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked', 'survived']].dropna()
titanic.head()

   pclass     sex      age  sibsp  parch      fare embarked  survived
0       1  female  29.0000      0      0  211.3375        S         1
1       1    male   0.9167      1      2  151.5500        S         1
2       1  female   2.0000      1      2  151.5500        S         0
3       1    male  30.0000      1      2  151.5500        S         0
4       1  female  25.0000      1      2  151.5500        S         0

In [20]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(sparse=False)
encoder.fit_transform(titanic[['sex','embarked']])
#titanic.head()

array([[1., 0., 0., 0., 1.],
       [0., 1., 0., 0., 1.],
       [1., 0., 0., 0., 1.],
       ...,
       [0., 1., 1., 0., 0.],
       [0., 1., 1., 0., 0.],
       [0., 1., 0., 0., 1.]])